# RFM 
- Recency : ความล่าสุดที่ลูกค้ามาใช้
- Frequency : ความถี่การใช้งาน
- Monetary : ปริมาณการใช้จ่ายสินค้า

In [139]:
import numpy as np
import pandas as pd

In [140]:
PATH = 'ecommerce_data.csv'
df = pd.read_csv(PATH)

In [141]:
df[:3]

         date  product_id  city_id  orders
0  2019-12-16        1897       26       2
1  2019-12-16        4850       26       4
2  2019-12-16        2466       26       1

In [142]:
df.shape

(523684, 4)

In [143]:
len(df.index)

523684

In [144]:
price_ls = np.random.random_integers(100, 10000, len(df.index)) # สุ่มราคา เป็นจำนวนเต็ม 100 จำนวน 5236844

C:\Users\Chaiwat\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: This function is deprecated. Please call randint(100, 10000 + 1) instead
  """Entry point for launching an IPython kernel.

In [145]:
df['price'] = price_ls

In [146]:
df[:5]

         date  product_id  city_id  orders  price
0  2019-12-16        1897       26       2   1725
1  2019-12-16        4850       26       4   4847
2  2019-12-16        2466       26       1   9214
3  2019-12-16         637       26       1   9643
4  2019-12-16        3497       26     184   5661

In [147]:
len(df['city_id'].unique()) # ดู city_id มีกี่รูปแบบ

31

In [148]:
df['user_id'] = range(1,len(df.index)+1, 1) # เริ่มตั้งแต่ 1-523684 step ทีละ 1

In [149]:
df[:3]

         date  product_id  city_id  orders  price  user_id
0  2019-12-16        1897       26       2   1725        1
1  2019-12-16        4850       26       4   4847        2
2  2019-12-16        2466       26       1   9214        3

## Preprocessing
- date -> recency
- order -> Frequency
- price -> Monetary

@ ปรับ Recency

In [150]:
import datetime

df['date_now'] = datetime.datetime.now()

In [151]:
df['date'] = pd.to_datetime(df['date'])

In [152]:
df.head()

,date,product_id,city_id,orders,price,user_id,date_now
0,2019-12-16,1897,26,2,1725,1,2020-10-27 23:01:17.779736
1,2019-12-16,4850,26,4,4847,2,2020-10-27 23:01:17.779736
2,2019-12-16,2466,26,1,9214,3,2020-10-27 23:01:17.779736
3,2019-12-16,637,26,1,9643,4,2020-10-27 23:01:17.779736
4,2019-12-16,3497,26,184,5661,5,2020-10-27 23:01:17.779736

In [153]:
df['Recency'] = df['date_now'] - df['date']

In [154]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 523684 entries, 0 to 523683
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   date        523684 non-null  datetime64[ns]
 1   product_id  523684 non-null  int64
 2   city_id     523684 non-null  int64
 3   orders      523684 non-null  int64
 4   price       523684 non-null  int32
 5   user_id     523684 non-null  int32
 6   date_now    523684 non-null  datetime64[ns]
 7   Recency     523684 non-null  timedelta64[ns]
dtypes: datetime64[ns](2), int32(2), int64(3), timedelta64[ns](1)
memory usage: 28.0 MB

In [155]:
#df['Recency'] = df['Recency'].apply(lambda x: x.day) #apply ดึงข้อมูลไปทำในฟฟังก็ชัน หรือ lambda แล้วเก็บไว้ที่เดิม
df['Recency'] = df['Recency'].astype('timedelta64[h]')

In [156]:
df.head()

,date,product_id,city_id,orders,price,user_id,date_now,Recency
0,2019-12-16,1897,26,2,1725,1,2020-10-27 23:01:17.779736,7607.0
1,2019-12-16,4850,26,4,4847,2,2020-10-27 23:01:17.779736,7607.0
2,2019-12-16,2466,26,1,9214,3,2020-10-27 23:01:17.779736,7607.0
3,2019-12-16,637,26,1,9643,4,2020-10-27 23:01:17.779736,7607.0
4,2019-12-16,3497,26,184,5661,5,2020-10-27 23:01:17.779736,7607.0

In [157]:
#df['orders'] = df['orders'].astype(int)

In [158]:
from sklearn.preprocessing import MinMaxScaler

In [159]:
norm = MinMaxScaler((1,5))

In [160]:
df[["Frequency", "Monetary", "Recency"]] = norm.fit_transform(df[["orders", "price", "Recency"]])

KeyError: 'Passing list-likes to .loc or [] with any missing labels is no longer supported, see https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike'

In [ ]:
features = ["Frequency", "Monetary", "Recency"]
features_ = ["orders", "price", "Recency"]
norm = MinMaxScaler((1.0, 5.0))
df[features] = norm.fit_transform(df[features_])