# RFM
- Recency
- Frequency
- Monetary

In [5]:
import numpy as np
import pandas as pd

In [6]:
PATH = 'ecommerce_data.csv'
df = pd.read_csv(PATH)

In [7]:
df[:3]

         date  product_id  city_id  orders
0  2019-12-16        1897       26       2
1  2019-12-16        4850       26       4
2  2019-12-16        2466       26       1

In [8]:
df.shape

(523684, 4)

In [9]:
price_ls = np.random.random_integers(100, 100000, 523684)
len(price_ls)

C:\Users\Chaiwat\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: This function is deprecated. Please call randint(100, 100000 + 1) instead
  """Entry point for launching an IPython kernel.

523684

In [10]:
df["price"] = price_ls

In [11]:
df[:3]

         date  product_id  city_id  orders  price
0  2019-12-16        1897       26       2  33066
1  2019-12-16        4850       26       4  82912
2  2019-12-16        2466       26       1  59001

In [12]:
len(df["city_id"].unique())

31

In [13]:
df["user_id"] = range(1,523684+1, 1)

In [14]:
df[:3]

         date  product_id  city_id  orders  price  user_id
0  2019-12-16        1897       26       2  33066        1
1  2019-12-16        4850       26       4  82912        2
2  2019-12-16        2466       26       1  59001        3

## Preprocessing
- date -> Recency
- order -> Frequency
- price -> Monetary

### Recency

In [15]:
import datetime

In [16]:
df['date_now'] = datetime.datetime.now()

In [17]:
df['date'] = pd.to_datetime(df['date'])

In [18]:
df[:3]

,date,product_id,city_id,orders,price,user_id,date_now
0,2019-12-16,1897,26,2,33066,1,2020-10-27 21:42:59.627471
1,2019-12-16,4850,26,4,82912,2,2020-10-27 21:42:59.627471
2,2019-12-16,2466,26,1,59001,3,2020-10-27 21:42:59.627471

In [19]:
df['Recency'] = df['date_now'] - df['date']

In [20]:
df[:3]

,date,product_id,city_id,orders,price,user_id,date_now,Recency
0,2019-12-16,1897,26,2,33066,1,2020-10-27 21:42:59.627471,316 days 21:42:59.627471
1,2019-12-16,4850,26,4,82912,2,2020-10-27 21:42:59.627471,316 days 21:42:59.627471
2,2019-12-16,2466,26,1,59001,3,2020-10-27 21:42:59.627471,316 days 21:42:59.627471

In [21]:
df["Recency"] = df["Recency"].astype('timedelta64[h]')

In [22]:
df[:3]

,date,product_id,city_id,orders,price,user_id,date_now,Recency
0,2019-12-16,1897,26,2,33066,1,2020-10-27 21:42:59.627471,7605.0
1,2019-12-16,4850,26,4,82912,2,2020-10-27 21:42:59.627471,7605.0
2,2019-12-16,2466,26,1,59001,3,2020-10-27 21:42:59.627471,7605.0

In [23]:
from sklearn.preprocessing import MinMaxScaler

In [24]:
norm = MinMaxScaler((1,5))

In [25]:
df[["Frequency", "Monetary", "Recency"]] = norm.fit_transform(df.loc[["orders", "price", "Recency"]])

KeyError: 'Passing list-likes to .loc or [] with any missing labels is no longer supported, see https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike'

In [ ]:
df[:3]

In [26]:
df["Recency"] = 6 - df["Recency"]

In [ ]:
df[:3]

        date  product_id  city_id  ...  Recency  Frequency  Monetary
0 2019-12-16        1897       26  ...      5.0   1.000032  1.947427
1 2019-12-16        4850       26  ...      5.0   1.000095  2.731532
2 2019-12-16        2466       26  ...      5.0   1.000000  4.908909

[3 rows x 10 columns]

## ทำการรวม 3 Columns เพื่อหา Loyalty Customer

In [ ]:
df["loyalty_sc"] = df[["Frequency", "Monetary", "Recency"]].mean(axis=1)

In [ ]:
df[:3]

        date  product_id  city_id  ...  Frequency  Monetary  loyalty_sc
0 2019-12-16        1897       26  ...   1.000032  1.947427    2.649153
1 2019-12-16        4850       26  ...   1.000095  2.731532    2.910542
2 2019-12-16        2466       26  ...   1.000000  4.908909    3.636303

[3 rows x 11 columns]

In [ ]:
df = df.sort_values(by="loyalty_sc", ascending=False)
df[:10]

           date  product_id  city_id  ...  Frequency  Monetary  loyalty_sc
1123 2019-12-16        7541       18  ...   1.000126  4.998398    3.666175
685  2019-12-16        2941        0  ...   1.000063  4.997437    3.665833
580  2019-12-16        1622        9  ...   1.000536  4.992673    3.664403
3868 2019-12-15        7011        9  ...   1.001513  4.998759    3.664213
5867 2019-12-15        6300       22  ...   1.000126  4.999800    3.664097
2035 2019-12-15         202        2  ...   1.000000  4.999920    3.664095
4267 2019-12-15        2556        0  ...   1.000000  4.999640    3.664002
1296 2019-12-16        4889       17  ...   1.000063  4.991552    3.663872
6458 2019-12-15        6780       24  ...   1.000000  4.999039    3.663802
520  2019-12-16        3499       14  ...   1.000000  4.990390    3.663463

[10 rows x 11 columns]