# RFM 
- Recency : ความล่าสุดที่ลูกค้ามาใช้
- Frequency : ความถี่การใช้งาน
- Monetary : ปริมาณการใช้จ่ายสินค้า

In [1]:
import numpy as np
import pandas as pd

In [2]:
PATH = 'ecommerce_data.csv'
df = pd.read_csv(PATH)

In [3]:
df[:3]

         date  product_id  city_id  orders
0  2019-12-16        1897       26       2
1  2019-12-16        4850       26       4
2  2019-12-16        2466       26       1

In [4]:
df.shape

In [8]:
len(df.index)

523684

In [9]:
price_ls = np.random.random_integers(100, 10000, len(df.index)) # สุ่มราคา เป็นจำนวนเต็ม 100 จำนวน 5236844

C:\Users\Chaiwat\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: This function is deprecated. Please call randint(100, 10000 + 1) instead
  """Entry point for launching an IPython kernel.

In [10]:
df['price'] = price_ls

In [15]:
df[:5]

         date  product_id  city_id  orders  price
0  2019-12-16        1897       26       2    557
1  2019-12-16        4850       26       4   1801
2  2019-12-16        2466       26       1   6513
3  2019-12-16         637       26       1   4296
4  2019-12-16        3497       26     184   3160

In [13]:
len(df['city_id'].unique()) # ดู city_id มีกี่รูปแบบ

31

In [16]:
df['user_id'] = range(1,len(df.index)+1, 1) # เริ่มตั้งแต่ 1-523684 step ทีละ 1

In [17]:
df[:3]

         date  product_id  city_id  orders  price  user_id
0  2019-12-16        1897       26       2    557        1
1  2019-12-16        4850       26       4   1801        2
2  2019-12-16        2466       26       1   6513        3

## Preprocessing
- date -> recency
- order -> Frequency
- price -> Monetary

@ ปรับ Recency

In [18]:
import datetime

df['date_now'] = datetime.datetime.now()

In [23]:
df['date'] = pd.to_datetime(df['date'])

In [25]:
df.head()

,date,product_id,city_id,orders,price,user_id,date_now,Recency
0,2019-12-16,1897,26,2,557,1,2020-10-27 21:23:45.896138,0 days
1,2019-12-16,4850,26,4,1801,2,2020-10-27 21:23:45.896138,0 days
2,2019-12-16,2466,26,1,6513,3,2020-10-27 21:23:45.896138,0 days
3,2019-12-16,637,26,1,4296,4,2020-10-27 21:23:45.896138,0 days
4,2019-12-16,3497,26,184,3160,5,2020-10-27 21:23:45.896138,0 days

In [28]:
df['Recency'] = df['date_now'] - df['date']

In [30]:
df[:3]

,date,product_id,city_id,orders,price,user_id,date_now,Recency
0,2019-12-16,1897,26,2,557,1,2020-10-27 21:23:45.896138,316 days 21:23:45.896138
1,2019-12-16,4850,26,4,1801,2,2020-10-27 21:23:45.896138,316 days 21:23:45.896138
2,2019-12-16,2466,26,1,6513,3,2020-10-27 21:23:45.896138,316 days 21:23:45.896138

In [36]:
#df['Recency'] = df['Recency'].apply(lambda x: x.day) #apply ดึงข้อมูลไปทำในฟฟังก็ชัน หรือ lambda แล้วเก็บไว้ที่เดิม
df['Recency'] = df['Recency'].astype('timedelta64[h]')

In [49]:
df.head()

,date,product_id,city_id,orders,price,user_id,date_now,Recency
0,2019-12-16,1897,26,2,557,1,2020-10-27 21:23:45.896138,7605.0
1,2019-12-16,4850,26,4,1801,2,2020-10-27 21:23:45.896138,7605.0
2,2019-12-16,2466,26,1,6513,3,2020-10-27 21:23:45.896138,7605.0
3,2019-12-16,637,26,1,4296,4,2020-10-27 21:23:45.896138,7605.0
4,2019-12-16,3497,26,184,3160,5,2020-10-27 21:23:45.896138,7605.0

In [50]:
from sklearn.preprocessing import MinMaxScaler

In [51]:
norm = MinMaxScaler((1,5))

In [52]:
df[["Frequency", "Monetary", "Recency"]] = norm.fit_transform(df[["orders", "price", "Recency"]])

KeyError: 'Passing list-likes to .loc or [] with any missing labels is no longer supported, see https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike'