In [1]:
#นำ libraly numpy and pandas for using

In [1]:
import pandas as pd
import numpy as np

In [2]:
#สร้าง series จาก Numpy
datas = [15,12.5,'Ksb',22,"Jim"] #สร้าง List ก่อน
ndata = np.array(datas) #นำList ไปสร้างเป็น Numpy Array
ps = pd.Series(ndata) #สร้าง Series จาก Numpy
ps

0      15
1    12.5
2     Ksb
3      22
4     Jim
dtype: object

In [3]:
#สร้างข้อมูล series แบบกำหนด index
datas = [15,12.5,18,22,17] #สร้างข้อมูล list
idx = ['tide','ไทด์','time','แมว','dog'] #index
ps = pd.Series(datas, index=idx) #สร้างSeriesแบบกำหนด index เอง
ps

tide    15.0
ไทด์    12.5
time    18.0
แมว     22.0
dog     17.0
dtype: float64

In [4]:
#สร้างข้อมูล series แบบกำหนด index โดยใช้numpy
datas = [15,12.5,18,22,17] #สร้างข้อมูล list
idx = ['tide','ไทด์','time','แมว','dog'] #
ps = pd.Series(np.array(datas), index=idx) #สร้างSeriesแบบกำหนด index โดยแปลงdatas เป็น array โดยnumpy
ps

tide    15.0
ไทด์    12.5
time    18.0
แมว     22.0
dog     17.0
dtype: float64

In [5]:
#สร้าง series จาก Dictionary
datas = {'tide':15,'ไทด์':12.5,'time':18,'แมว':22,'dog':17} #รวบข้อมูล:index โดยใช้Dictionary
ps = pd.Series(datas)
ps

tide    15.0
ไทด์    12.5
time    18.0
แมว     22.0
dog     17.0
dtype: float64

In [6]:
#การเข้าถึงข้อมูล สามารถทำได้ 2 วิธี คือ 1.อ้างอิงลำดับ index หรือ 2.อ้างอิงชื่อ index
ps[0] #อ้างอิงลำดับ
ps[1] #อ้างอิงลำดับ
ps[-1] #อ้างอิงลำดับ
ps['tide'] #อ้างอิงชื่อ
ps['ไทด์'] #อ้างอิงชื่อ

12.5

In [7]:
#การเข้าถึงช่วงของข้อมูล (Slicing) ทำโดยใช้ series[ indexเริ่ม : indexสุดท้าย ]
ps[:] #เอาทั้งหมด
ps[2:] #ตั้งแต่index2เป็นต้้นไป
ps[:2] #ตั้งแต่0-2(ที่index2ไม่เอา)
ps[1:3] #ตั้งแต่1-3 (ที่ 1 เอา 3ไม่เอา)
ps[2:len(ps)] #ตั้งแต่2-ความยาวของseriesจบ

time    18.0
แมว     22.0
dog     17.0
dtype: float64

In [8]:
#การสร้าง DataFrame
#-สร้างจาก Tuple or List
datas = [15,12.5,18,22,17] #ข้อมูลที่ใช้ต้องเป็นlist
cols = ['Age'] #สร้างlist เก็บชื่อcolumn
df = pd.DataFrame(datas, columns=cols) #สร้างdataframe พร้อมระบุชื่อcolumn
df
# -สร้างจาก Tuple or List จากหลายมิติ หรือ เมทริกซ์
datas = [[163,37,1],
         [175,20,0],
         [162,27,0],
         [150,10,1]]
cols = ['height','hair_length','voice_pitch']
df = pd.DataFrame(datas, columns=cols)
df
#สร้าง DataFrame จาก List หลายตัวโดยใช้Zip
#บางข้อมูลมีlistย่อยหลายตัวต้องทำการzipก่อน จึงทำขึ้นเป็นdataframeได้
lst1 = [15,22,30,24]
lst2 = [20,18,38,19]
datas = list(zip(lst1,lst2)) #ใช้คำสั่ง zip()เพื่อจับคู่ข้อมูล[(15, 20), (22, 18), (30, 38), (24, 19)]

cols = ['Age','Score']
df = pd.DataFrame(datas, columns = cols)
df

#สร้าง DataFrame แบบ กำหนดชื่อ Columns
#lst0 = ['tide','jim','god']
#lst1 = [15,22,24]
#lst2 = [20,18,19]
#datas = list(zip(lst0,lst1,lst2))
datas = [['tide',15,20],['jim',22,18],['god',24,19]]
cols =['Name','Age','Score']
df = pd.DataFrame(datas, columns = cols)
df

#สร้าง DataFrame จาก Dictionary
datas = [{'Name':'tide','Age':15,'Score':20},
        {'Name':'jim','Age':22,'Score':18},
        {'Name':'god','Age':24,'Score':19}]
df = pd.DataFrame(datas)
df

#สร้าง DataFrame จาก series
names = ['tide','jim','god']
ages = [15,22,24]
scores = [20,18,19]
cols =['Name','Age','Score']
name_series = pd.Series(names)
age_series = pd.Series(ages)
score_series = pd.Series(scores)

frame = {'Name':name_series,'Age':age_series,'Score':score_series} #เก็บseries พร้อมระบุ columns
df = pd.DataFrame(frame)
df
#กรณีที่มี Series อยู่ columnsเดียวต้องการเปลี่ยนเป็นDataFrame ให้ใช้คำสั่ง .to_frame()
#df = name_series.to_frame(name = 'StudentName') #ตั้งชื่อcolumn ใช้ name = ...
#df

   Name  Age  Score
0  tide   15     20
1   jim   22     18
2   god   24     19

In [9]:
#การอ่านไฟล์ การบันทึกไฟล์ Excel and CSV ส่วนใหญ่ข้อมูลจะถูกบันทึกใน database excel and csv
#การบันทึก Data Frame เป็นไฟล์ CSV ใช้คำสั่ง .to_csv DataFrame.to_csv(parameters)
#โดยที่parameters ประกอบด้วย 1.header(True/False) คือส่วนหัวของคอล์ม (defaultคือ True) 2.index(True/False) บันทึกเลข index ของข้อมูล 0 1 2 3...
# 3.index_label(String) ข้อความส่วนหัวของคอลัมน์ กรณนี้บันทึกเลขindex
filepath = 'mydata02.csv' # ชื่อไฟล์หรือระบุพาทด้วย เช่น 'data/mydata02.csv'
# df คือตัวแปรเก็บข้อมูล DataFrame ที่รันจาก Workshop ก่อนหน้านี้
# บันทึกแบบมีเลข Index มีข้อความหัวคอลัมน์(Header) แต่ไม่มี index_label
df.to_csv(filepath)
#บันทึกแบบมีเลข Index และมีข้อความหัวคอลัมน์กำกับทุกทคอลัมน์ รวมทั้ง index_label ด้วย
df.to_csv(filepath, index_label="id")
#บันทึกแบบไม่มีเลข Index แต่ข้อความหัวคอลัมน์ (with Header) 
df.to_csv(filepath, index=False)
##บันทึกแบบไม่มีเลข Index โดยไม่มีข้อความหัวคอลัมน์(No Header) 
#df.to_csv(filepath, index=False, header=False)
#uri = 'ชื่อไฟล์.xlsx'
#df = pd.read_excel(uri)
#cols = ['Name','Age'] #ระบุคอลัมน์ที่ต้องการ
#df.to_csv('data/testfile.csv', index=False, columns=cols)

#บันทึกไฟล์ Excel 
filepath = 'myfile.xlsx' #สร้างexcelชื่อ myfile
writer = pd.ExcelWriter(filepath) #ใช้pandasเพื่อเขียนfile excel
df.to_excel(writer,'MySheet1',index=False) #save dataframe(df) ในexcel myfile แล้วบันทึกSheetชื่อMySheet1
writer.save() #บันทึกwriter

#การอ่านไฟล์ Excel ทั้งหมด ทุกคอลัมน์
uri = 'myfile.xlsx' #ไฟล์ หรือ ระบุพาท
df = pd.read_excel(uri)
df

   Name  Age  Score
0  tide   15     20
1   jim   22     18
2   god   24     19

In [39]:
#uri = 'data_ageb.xlsx'
# df = pd.read_excel(uri) #อ่านแบบปกติ จะได้ 0 1 2 3 .. เป็น index
#df = pd.read_excel(uri, index_col='Name') #กำหนดให้ใช้คอลัมน์ Name เป็น Index

#df.head() #แสดงข้อมูล 3 แถวแรก (3 Records แรก)
#df.tail() #แสดงข้อมูล 3 แถวสุดท้าย 

#การอ่านหรือโหลดข้อมูล สามารถสั้งให้อ่านไฟล์จากเว็บได้ เช่น
#uri = 'http:// www.website.com/datafile/xlsx' #ใส่ url web
#df = pd.read_excel(uri)
#หากต้องการแถว (row) หรือ column
##header(integer):
##usecols(List or String):
##names(List):
##index_col(String):
##sheet_name(String):
##skiprows(List, integer):
##nrows(Integer):

##อ่าน excel บางคอลัมน์และข้าม header
#uri = 'data/score_ageb w header.xlsx'
#cols = 'a,c:d'
#cols = [0,2,3]
#df = pd.read_excel(uri, sheet_name='MySheet1', usecols=cols, header=3)
#df.head()
##กรณีต้องการใช้คอลัมน์ Name เป็น Index
#df = pd.read_excel(uri, sheet_name='Mysheet1', usecols=cols, header=3, index_col='Name')
#df.head()

#เรียกดูข้อมูลจากชื่อ index
#df.loc['tide'] #ออกผลทั้ง Age , Score
#df.loc['tide']['Score'] #ได้ Score20
#df.loc['tide']['Age'] #ได้ Age15

##ตั้งชื่อคอลัมน์ใหม่
#หากต้องการกำหนดชื่อคอลัมน์เอง ไม่เอาตาม Excel สามารถเปลี่ยนชื่อคอลัมน์ได้ เช่น
#uri = 'myfile no column.xlsx'
#mycolumns = ['Student','Math','Year'] #จำนวนชื่อต้องเท่ากับจำนวนคอลัมน์
#df = pd.read_excel(uri, names= mycolumns, index_col='Student')
#df.head()

##อ่านไฟล์ Excel ไม่มีหัวคอลัมน์
#uri = 'data/score_ageb no column.xlsx'
#mycolumns = ['Student','Math','Year'] 
#df = pd.read_excel(uri, header=None, names=mycolumns)
#df.head()

##การอ่านไฟล์ CSV
#uri = 'data/score_ageb.csv'
#uri = 'mydata02.csv'
#df = pd.read_csv(uri) #แบบไม่ระบุรหัส encoding ไฟล์
#df = pd.read_csv(uri, encoding = 'utf-8') #แบบระบุรหัส encoding ไฟล์
#df.head() 
#การอ่านไฟล์CSV ผ่านurl
#uri = 'url link/namefile.csv' # ที่อยู่ไฟล์บนเว็บ
#df = pd.read_csv(uri)
#df = pd.read_csv(uri, index_col='Age') #กำหนดให้ใช้คอลัมน์ Age เป็น Index
#df.head()
uri = 'mydata02.csv'

#cols = ['Score'] #ระบุแค่ตำแหน่งที่จะใช้
#cols = [0] #ระบุแค่ตำแหน่งที่จะใช้
#df = pd.read_csv(uri)
#df = pd.read_csv(uri, usecols=cols)
#df.head()
#การอ่านไฟล์Excel แบบไม่มีหัวคอลัมน์
#uri = 'myfile.xlsx'
#mycols = ['Eng','Math']
#df = pd.read_excel(uri, header=None, names= mycols)
#df.head()
cols = ['Age','Score']
df = pd.read_csv(uri, usecols=cols, nrows=2, skiprows=[1,2]) #ข้ามแถว 1 และ 2
df.head()

#อ่านไฟล์ CSV ที่ไม่มี Header
data2 = [['Kobkiat',25,35,1],['ณิแนน',22,36,2],['จอห์น',25,32,2],['Tim',35,29,1],['Steal',32,27,2]]
cols2 = ['Name','Age','Score','Class']
df2 = pd.DataFrame(data2, columns=cols2)
df2.to_csv('Data2.csv', index=False, columns=cols2)
uri2 = 'Data2.csv'
#cols3 = ['Student','Math','Comp','Year']
#df2 = pd.read_csv(uri2, names=cols3, index_col='Student') #ใช้Student แทน index

#การตรวจสอบข้อมูลเบื้องต้น
#df2.head() #5แถวแรกถ้าต้องการมากกว่าให้ระบุจำนวน DataFrame.head(2)เลือกใช้ 2 แถวแรก
#df2.tail() #5แถวสุดท้ายถ้าต้องการมากกว่าให้ระบุจำนวน DataFrame.tail(2)เลือกใช้ 2 แถวสุดท้าย
#df2.sample() #สุ่มอ่านข้อมูลจาก df2  1ตัวอย่าง ถ้าระบุ n โดย df2.sample(n) จะสุ่มตัวอย่างเท่ากับ n 
#df2.dtypes  #ตรวจสอบค่าในตารางว่าเป็นชนิดข้อมูลแบบใดสามารถตรวจหาค่าทางสถิติหรือไม่
#df2.describe() #อธิบายค่าทางสถิติต่างๆ
#df2.Score.mean() #หาค่าเฉลี่ย
#df2.Score.max()
#df2.Score.min()
#df2.Score.count()
#df2.Score.std()
#df2.Score.sum()
#df2.sum()

#การเปลี่ยนชนิดข้อมูลคอลัมน์
#กำหนดให้เป็น str ขณะอ่านข้อมูล
#df2 = pd.read_csv(uri, dtype={'Score':str}) #กำหนดขณะอ่านข้อมูลให้ score เป็น obj
#df2.dtypes
#ข้อมูลจำพวกตัวเลขถ้าไม่มีค่าที่จะนำมาคิดควรเปลี่ยนเป็น obj ก่อน

#เปลี่ยนคอลัมน์ให้เป็น Category ใช้กับข้อมูลที่ไม่มีความสำคัญทางลำดับ เช่น เลขรหัส เลขแทนภูมิภาค(ทางสถิติเรียกว่าตัวแปร มาตรวัดชนิด Norminal)
#df2.Age = df2.Age.astype('category')
#df2.dtypes

#เลือกคอลัมน์และเลือกข้อมูลแบบช่วง
#มี 2 แบบ 1.DataFrame.ชื่อคอลัมน์ เช่น df.Name df.Score (รูปแบบใช้ . เรียกว่า Dot notation)
#2.DataFrame.['ชื่อคอลัมน์'] เช่น df['Name'] df.['Score']
#1)df2.Name
#df2.Score
#df2.Age
#df2.Class
df2.Name[1:3] #เลือกคอลัมน์Name 1-2
df2.Score[3:] #เลือกคอลัมน์Score 3-สุดท้าย
df2.Age[:-1] #เลือกคอลัมน์ Age แรกถึงตัวที่ -1
df2[['Name','Score']][1:3] #อ่านทั้ง Name and Score 
df2[:]
df2[1:3].Name
df2.loc[1:4,'Name':'Score'] #เลือกแถว 1-4 คอลัมน์ Name ถึง Score
df2.iloc[2] #เลือกข้อมูล แถว 2 ทั้งหมด
df2.iloc[2]['Name'] #เลือก เฉพาะ แถว 2 คอลัมน์ Name
df2.iloc[2,0] #เลือก แถว2 คอลัมน์ 0
df2.iloc[1:3] #เลือก แถว 1-2
rows = [0,1,4]
df2.iloc[rows] #เลือก row 0 1 4 
#กรณีใช้ข้อมูลเป็น index
#df2 = pd.read_csv(uri2, index_col='Name')
#df2.loc['Tim'] #ได้ข้อมูลแบบ series
#df2.loc['จอห์น']['Age'] #ได้ข้อมูลอายุ

#การค้นหาข้อมูล 1.DataFrame.match(String) จะใช้ค้นหาString ที่มีคำขึ้นต้นเดียวกัน 2.DataFrame.contains(String) ค้นหาคำเหมือน ไม่จำเป็นต้องเริ่มที่คำนั้น
df2[df2.Name.str.match('t')] #การค้นหาจะเป็นแบบCase sensitive 
df2[df2.Name.str.match('t', case= False)] #การค้นหาจะเป็นแบบ Case insensitive 

#การเลือกแถวแบบวนรอบโดยใช้ for

#for idx, row in df2.iterrows():
#    print(idx, row.Name, row.Score, row.Age)
    
#เลือกแบบมีเงื่อนไข
#df2[df2.Age ==35] #ต้องการ df2 ที่ Age=35
#df2[df2['Age']==35] #แบบเดียวกับด้านบน
#df2.loc[(df2.Score>=30) & (df2.Class == 2)] #ใช้ & (และ)
#df2.loc[(df2.Score>=30) | (df2.Class == 2)] #ใช้ |(pipe) (หรือ อยู่ตรง ฃ)

#การใช้ isin(List) การเลือกข้อมูลที่ตรงกับList
#df2.loc[(df2.Age.isin([22]))] #คนที่มีอายุ 22
#df2.loc[(df2.Age.isin([22,25]))] #คนที่มีอายุ 22 หรือ 25
#df2.loc[(df2.Age.isin([22,23,28]))] #คนที่มีอายุ 22 23 หรือ 28

#เลือกคนที่อายุ 22 23 25 ใน class 1 
#df2.loc[(df2.Age.isin([22,23,25])) & (df2.Class ==1)]

#dftest = df2[df2.Score >= 30] #กรองเฉพาะผู้ที่ได้คะแนน >= 30
#for idx, row in dftest.iterrows():
#    if row.Class == 2: #ผู้ที่อยู่ Class2
#        print (idx, row.Name, row.Score, row.Class)
#หากต้องการ print ให้มีการเว้นช่องว่าง ใช้รูปแบบ {} ดังนี้
#print('{:2} {:8} {:1} {:3}' .format(idx, row.Name, row.Score, row.Class))

#การจัดเรียง
#การจัดเรียง สามารถทำได้ดังนี้ 1.DataFrame.sort_index()จัดเรียงตาม index 2.DataFrame.sort_value(column) จัดเรียงตาม Value ของข้อมูล
#Inplace =True คือ assign ค่ากลับไปให้ DataFrame (ทับของเดิม)
#ascending = False ให้เรียงจากมากไปหาน้อย
#df2 = pd.read_csv(uri2, index_col='Name') #สนใจ index_col = 'Name'
#df2.sort_index(inplace=True) #จัดเรียงแล้วเก็บค่าไว้ที่ df2 การจัดเรียงจะสนใจ ภาษาอังกฤษ->ไทย
#df2.sort_values('Score') #จัดเรียงตามScore จากน้อย -> มาก
#df2.sort_values('Score',ascending = False, inplace=True) #จัดเรียงตาม Score จากมาก -> น้อย
#เรียงคอลัมน์ Class น้อย ไป มาก และ Score น้อย ไป มาก แล้วเก็บค่าไว้ที่ A
#A = df2.sort_values(['Class','Score'])
#A
#อัปเดตแก้ไขข้อมูล
#df2.at['God','Score'] = 38 #index แถว god ๅแบะ คอลัมน์ชื่อ Score=38 เพิ่มแถวล่างสุด
#df2.iat[3,3] = 3 # เพิ่ม แถว 1 และ คอลัมน์ 2(class) แทนที่
#df2.head()

#หาตำแหน่งแถว Row ของคนชื่อ 'ณิ' ในคอลัมน์ 'Name' ก่อน
row = df2[df2.Name.str.contains('ณิ')].index.values[0] #ได้ index ของแถวเช่น 0 1 2 3 ..
df2.at[row,'Score'] = 45 #แทน Score = 45
df2.head()

#อัปเดตการแก้ไขด้วยการแทนที่ ทั้งหมด inplace คือเปลี่ยนค่าแล้วใส่ลงไปใน df2 ดังเดิม
df2.Class.replace([1,2],8, inplace = True) #แทน1,2 ด้วย8
df2['Class'].replace(8,1, inplace = True) #แทน 8 ด้วย 1 แบบนี้ก็ได้
df2.replace(29,8, inplace = True) #แทน 29 ด้วย 8 ทุกค่าในตาราง
df2.head()

#แก้ไขโดยใช้เงื่อนไขข้อความ
df2.loc[df2.Name.str.match('Kob'),'Class'] = 5 #ใช้รูปแบบ Dot notation
df2.loc[df2['Name'].str.match('จอ'), 'Class'] = 4 #คำสั่งเดียวกับด้านบน
#ถ้าต้องการค้นหาคำหลังเหมือนให้ใช้.str.contains
df2.loc[df2.Name.str.contains('แนน'),'Class'] = 2
df2.loc[df2['Name'].str.contains('al'),'Class'] = 7
#หรือต้องการใช้Numpy
df2['Class'] = np.where(df2.Class == 2,5,df2.Class) #ถ้าคะแนนClass เป็น2 ให้เปลี่ยนเป็น 5
#เปลี่ยนคะแนนช่วง 28-30 เป็น 29.5
df2['Score'] = np.where((df2.Score >= 30) & (df2.Score <=40),29.5 , df2.Score)

#เพิ่มและลบคอลัมน์ 
#การเพิ่มคอลัมน์
df2['Midterm'] = df2['Score'] * 0.5
df2['M'] = df2['Age']
#การลบคอลัมน์
df2.drop('M',axis=1)    #ลบคอลัมน์เดียว (แต่ยังไม่มีผลกับ df2 ยังไม่เซฟ)
df2.drop('M',axis=1, inplace=True) #ลบคอลัมน์เดียว แล้ว save ทับ df2
#ต้องระบุชื่อคอลชัมน์ที่จะลบด้วย
#ลบหลายๆคอลัมน์
#cols =['Midterm','Class','Name'] #ใส่คอลัมน์ที่ต้องการลบเก็บไว้ในตัวแปรcols
#df2.drop(cols, axis = 1, inplace =True) #ถ้าไม่ใส่ inplace=True ก็ไม่เซฟทับสามารถดึงแยกมาใช้ได้
#A = df2.drop(cols, axis = 1)

#การเปลี่ยนชื่อคอลัมน์
#cols = {'Age':'Math'} #เปลี่ยนจาก Age เป็น Math
#df2.rename(columns = cols, inplace = True)
#A= df2.rename(columns = cols) #ถ้าไม่ใส่ inplace=True ก็ไม่เซฟทับสามารถดึงแยกมาใช้ได้
#เปลี่ยนหลายๆคอลัมน์
#cols = {'Age':'Math','Score':'Bio'}
#df2.rename(columns = cols , inplace = True)
cols = {'Math':'Age','Bio':'Score'}
df2.rename(columns = cols , inplace = True)

#การเพิ่ม row 
datas = [['KSB',25,35,1],['Ninuan',22,26.0,2]]
cols = ['Name','Age','Score','Class']
newdf = pd.DataFrame(datas, columns=cols)
# newdf.set_index('Name', inplace =True)

#การลด row
df2 = df2.append(newdf)
#rows =2 
#df2.drop(rows, axis=0 , inplace =True) #แถวจอห์นจะหายไป เซฟด้วย
#B= df2.drop(rows, axis=0) #แถวจอห์นหายไปเก็บเซฟไว้ในตตตัวแปลBไม่ล้าง df2
#การลดหลาย  row
rows = [1,3] #แถวที่ลบจะต้องมีในข้อมูลด้วย
#B= df2.drop(rows, axis=0) #ลบ แถว 1 3
#ใช้คอลัมน์เป็น index ต้องการจะลด
#df2 = pd.read_csv(uri2,index_col='Name') #กำหนดindex ก่อน
#rows = ['Tim'] #หลายแถวก็เพิ่ม ['Tim','จอห์น']
#C= df2.drop(rows, axis =0) #ลบrow ที่มี คอลัมน์ Timออกไป

#การพลอตกราฟ
#%matplotlib inline
#df2.plot.bar() #plotกราฟจากข้อมูลทั้งหมด
#df2[['Score','Age']].plot.bar() #พลอตกราฟ bar แค่ คะแนนและอายุ

#การรวมข้อมูลคอลัมน์ และ แถว
D = df2.sum(axis = 1) #รวมค่าตามแนวนอน

#รวมเฉพาะคอลัมน์ที่ต้องการ
cols = ['Age','Score'] 
#E=df2[cols].sum() #รวม Age และ Score

#รมแต่แยกเป็นกลุ่มๆ ใช้ groupby
#F=df2.groupby(['Class']).sum()
#F = df2[cols].groupby(['Class']).sum()

#จัดกลุ่มด้วยการ Cut
df3 = pd.DataFrame({'age': np.random.randint(12,55,20)}) #ใช้เลขสุ่มส้รางข้อมูลอายุ สุ่มจำนวนเต็มตั้งแต่ 12-55 20ตัว
groups = [12,19,30,55] #แบ่งกลุ่ม 3 ช่วง 12-19 19-30 และ 30-55
labels = ['teen','young','old'] #ชื่อกลุ่มทั้ง 3 กลุ่ม
df3['stages'] = pd.cut(df3['age'], bins=groups, labels=labels) #แบ่งกลุ่มตามอายุ
G=df3.groupby('stages').count() #แบ่งกลุ่มได้ว่าแต่ละกลุ่มมีจำนวนเท่าไหร่

In [41]:
#A
df2
#newdf
#B
#C
#D
#E
#F
df3

    age stages
0    22  young
1    40    old
2    46    old
3    46    old
4    29  young
5    34    old
6    13   teen
7    49    old
8    34    old
9    32    old
10   31    old
11   15   teen
12   16   teen
13   52    old
14   49    old
15   23  young
16   28  young
17   33    old
18   53    old
19   22  young

In [12]:
D

0    74.25
1    94.50
2    73.25
3    48.00
4    79.50
0    61.00
1    50.00
dtype: float64