# RFM
- Recency
- Frequency
- Monetary

In [49]:
import numpy as np
import pandas as pd

In [50]:
PATH = 'ecommerce_data.csv'
df = pd.read_csv(PATH)

In [51]:
df[:3]

         date  product_id  city_id  orders
0  2019-12-16        1897       26       2
1  2019-12-16        4850       26       4
2  2019-12-16        2466       26       1

In [52]:
df.shape

(523684, 4)

In [53]:
price_ls = np.random.random_integers(100, 100000, 523684)
len(price_ls)

C:\Users\Chaiwat\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: This function is deprecated. Please call randint(100, 100000 + 1) instead
  """Entry point for launching an IPython kernel.

523684

In [54]:
df["price"] = price_ls

In [55]:
df[:3]

         date  product_id  city_id  orders  price
0  2019-12-16        1897       26       2  14913
1  2019-12-16        4850       26       4  61893
2  2019-12-16        2466       26       1    846

In [56]:
len(df["city_id"].unique())

31

In [57]:
df["user_id"] = range(1,523684+1, 1)

In [58]:
df[:3]

         date  product_id  city_id  orders  price  user_id
0  2019-12-16        1897       26       2  14913        1
1  2019-12-16        4850       26       4  61893        2
2  2019-12-16        2466       26       1    846        3

## Preprocessing
- date -> Recency
- order -> Frequency
- price -> Monetary

### Recency

In [59]:
import datetime

In [60]:
df['date_now'] = datetime.datetime.now()

In [61]:
df['date'] = pd.to_datetime(df['date'])

In [62]:
df[:3]

,date,product_id,city_id,orders,price,user_id,date_now
0,2019-12-16,1897,26,2,14913,1,2020-10-27 22:19:21.829574
1,2019-12-16,4850,26,4,61893,2,2020-10-27 22:19:21.829574
2,2019-12-16,2466,26,1,846,3,2020-10-27 22:19:21.829574

In [63]:
df['Recency'] = df['date_now'] - df['date']

In [64]:
df[:3]

,date,product_id,city_id,orders,price,user_id,date_now,Recency
0,2019-12-16,1897,26,2,14913,1,2020-10-27 22:19:21.829574,316 days 22:19:21.829574
1,2019-12-16,4850,26,4,61893,2,2020-10-27 22:19:21.829574,316 days 22:19:21.829574
2,2019-12-16,2466,26,1,846,3,2020-10-27 22:19:21.829574,316 days 22:19:21.829574

In [65]:
df["Recency"] = df["Recency"].astype('timedelta64[h]')

In [66]:
df[:3]

,date,product_id,city_id,orders,price,user_id,date_now,Recency
0,2019-12-16,1897,26,2,14913,1,2020-10-27 22:19:21.829574,7606.0
1,2019-12-16,4850,26,4,61893,2,2020-10-27 22:19:21.829574,7606.0
2,2019-12-16,2466,26,1,846,3,2020-10-27 22:19:21.829574,7606.0

In [67]:
from sklearn.preprocessing import MinMaxScaler

In [68]:
norm = MinMaxScaler((1,5))

In [76]:
data = [df['orders'], df['price'], df['Recancy']]
scaler = MinMaxScaler(1,5)
df[["Frequency", "Monetary", "Recency"]] = scaler.fit(data)

KeyError: 'Passing list-likes to .loc or [] with any missing labels is no longer supported, see https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike'

In [ ]:
df[:3]

In [ ]:
df["Recency"] = 6 - df["Recency"]

In [ ]:
df[:3]

## ทำการรวม 3 Columns เพื่อหา Loyalty Customer

In [ ]:
df["loyalty_sc"] = df[["Frequency", "Monetary", "Recency"]].mean(axis=1)

In [ ]:
df[:3]

In [ ]:
df = df.sort_values(by="loyalty_sc", ascending=False)
df[:10]